<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleEthernetAbuantiaAqtionFirmware</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppleEthernetAbuantiaAqtionFirmware</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleEthernetAbuantiaAqtionFirmware</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.36</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21D41</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.2</string>
	<key>DTSDKBuild</key>
	<string>21D41</string>
	<key>DTSDKName</key>
	<string>macosx12.2.internal</string>
	<key>DTXcode</key>
	<string>1300</string>
	<key>DTXcodeBuild</key>
	<string>13A191</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AQC107 FW</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AppleEthernetAbuantiaAqtionFirmware</string>
			<key>IOClass</key>
			<string>AppleEthernetAbuantiaAqtion107Firmware</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOProviderClass</key>
				<string>AppleEthernetAbuantiaAqtion107</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>200000</integer>
			<key>IOProviderClass</key>
			<string>AppleEthernetAbuantiaAqtionFirmwareInterface</string>
			<key>ioNetBootable</key>
			<data></data>
		</dict>
		<key>AQC113 FW</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AppleEthernetAbuantiaAqtionFirmware</string>
			<key>IOClass</key>
			<string>AppleEthernetAbuantiaAqtion113Firmware</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOProviderClass</key>
				<string>AppleEthernetAbuantiaAqtion113</string>
			</dict>
			<key>IOProbeScore</key>
			<integer>200000</integer>
			<key>IOProviderClass</key>
			<string>AppleEthernetAbuantiaAqtionFirmwareInterface</string>
			<key>ioNetBootable</key>
			<data></data>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Apple Inc, 2023 Jazzzny</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleEthernetAbuantiaAqtion</key>
		<string>1.0.33</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.4.3</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0b2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
